<a href="https://colab.research.google.com/github/XplorodoX/EDS_projekt/blob/master/BMI_Uebergewicht.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Einführung in Data Science**

**Fakultät Informatik &ndash; Hochschule Aalen**

**Autoren:** Florian Merlau, Vithusan Ratneswaran, Gianni Balbo

# **Explorative Datenanalyse:**

## **Erste Schritte**

### *Entscheidung welche features wir brauchen*


Wir haben uns für die features ERBMI, ... entschieden, weil wir die Essstörungen im Bezug zum BMI analysieren wollen.

## ***Vorbereitung fürs Coden***

### *Benötigte Bilbliotheken importieren*

In [82]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LinearRegression
from google.colab import files

### Collect/Upload Datenbanken (nur wenn die Laufzeit neu initalisiert wird!)

In [83]:
#uploaded = files.upload()

### *Datenbanken importieren*

In [84]:
raw_ehresp = pd.read_csv('ehresp_2016s.dat')
raw_atusrost = pd.read_csv('atusrost_2016.dat')
raw_atussum = pd.read_csv('atussum_2016.dat')

## **Analyse durch, welche Features fehlende oder ungültige Werte aufweisen**

### *Checken was für Datentypen wir in den Tabellen haben bzw. Gültig sind*

In [85]:
list(raw_atusrost.dtypes)

[dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64')]

In [86]:
list(raw_ehresp.dtypes)

[dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('float64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('float64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64')]

In [87]:
list(raw_atussum.dtypes)

[dtype('int64'),
 dtype('float64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64')]

### *Auslesen der Tabellen mit Head() zum Inspizieren*

In [88]:
raw_ehresp.head()

         TUCASEID  TULINENO  EEINCOME1  ERBMI  ...  EUTHERM  EUWGT  EUWIC  EXINCOME1
0  20160101160045         1          2   26.6  ...        2    165     -1          0
1  20160101160066         1          2   44.3  ...        2    300     -1          0
2  20160101160069         1          2   24.5  ...        1    143      2          0
3  20160101160083         1          2   21.2  ...        2     98      2          0
4  20160101160084         1          1   29.7  ...       -1    173     -1          0

[5 rows x 37 columns]

In [89]:
raw_atussum.head()

         TUCASEID     TUFINLWGT  TRYHHCHILD  ...  t500105  t500106  t500107
0  20160101160045  2.458865e+07          -1  ...        0        0        0
1  20160101160066  5.445941e+06          -1  ...        0        0        0
2  20160101160069  8.782622e+06           0  ...        0        0        0
3  20160101160083  3.035910e+06           8  ...        0        0        0
4  20160101160084  6.978586e+06          -1  ...        0        0        0

[5 rows x 423 columns]

In [90]:
raw_atusrost.head()

         TUCASEID  TULINENO  TEAGE  TERRP  TESEX  TXAGE  TXRRP  TXSEX
0  20160101160045         1     62     18      2      0      0      0
1  20160101160045         2     65     20      1      0      0      0
2  20160101160045         3     43     22      1      0      0      0
3  20160101160066         1     69     18      1      0      0      0
4  20160101160066         2     67     20      2      0      0      0

### Max und Minimum anzeigen zum überprüfen der Gültigen Werte

In [91]:
x = raw_ehresp['ERBMI'].min()
y = raw_ehresp['ERBMI'].max()
[x,y]

[-1.0, 61.8]

In [92]:
x = raw_atusrost.min()
y = raw_atusrost.max()
[x,y]

[TUCASEID    20160101160045
 TULINENO                 1
 TEAGE                    0
 TERRP                   18
 TESEX                    1
 TXAGE                    0
 TXRRP                    0
 TXSEX                    0
 dtype: int64, TUCASEID    20161212162509
 TULINENO                17
 TEAGE                   85
 TERRP                   40
 TESEX                    2
 TXAGE                   60
 TXRRP                    0
 TXSEX                   23
 dtype: int64]

In [93]:
x = raw_atussum.min()
y = raw_atussum.max()
[x,y]

[TUCASEID      2.016010e+13
 TUFINLWGT     6.845048e+05
 TRYHHCHILD   -1.000000e+00
 TEAGE         1.500000e+01
 TESEX         1.000000e+00
                   ...
 t500101       0.000000e+00
 t500103       0.000000e+00
 t500105       0.000000e+00
 t500106       0.000000e+00
 t500107       0.000000e+00
 Length: 423, dtype: float64, TUCASEID      2.016121e+13
 TUFINLWGT     1.307397e+08
 TRYHHCHILD    1.700000e+01
 TEAGE         8.500000e+01
 TESEX         2.000000e+00
                   ...
 t500101       6.750000e+02
 t500103       3.000000e+02
 t500105       1.680000e+02
 t500106       1.790000e+02
 t500107       2.000000e+01
 Length: 423, dtype: float64]

### *Wie viele insgesamte Einträge wir in allen 3 Datenbanken?*

In [94]:
x=len(raw_atusrost)
y=len(raw_atussum)
z=len(raw_ehresp)
[x,y,z]

[27884, 10493, 10210]

### *Wie viele Werte haben wir für Man oder Frau in den Datenbanken?*

In [95]:
df_male = raw_atussum[raw_atussum['TESEX'] == 1 ].value_counts().sum() 
df_female = raw_atussum[raw_atussum['TESEX'] == 2].value_counts().sum()
[df_female, df_male]

[5823, 4670]

### *Wie viele leere Einträge haben wir in allen 3 Datenbanken*

Für die Datenbank *Atussum*:

In [96]:
df_isna_atussum = raw_atussum.isna().sum()
df_isna_atussum = df_isna_atussum.value_counts().sum()
df_isna_atussum

423

Für die Datenbank *Ehresp*:

In [97]:
df_isna_ehresp= raw_ehresp.isna().sum()
df_isna_ehresp= df_isna_ehresp.value_counts().sum()
df_isna_ehresp

37

Für die Datenbank *Aturost*:

In [98]:
df_isna_aturost = raw_atusrost.isna().sum()
df_isna_aturost= df_isna_aturost.value_counts().sum()
df_isna_aturost

8

### *Zusammenführen von den Datenbanken: Atussum & Ehresp in ein neues Dataframe merged_inner*

In [99]:
merged_inner = pd.merge(raw_atussum,raw_ehresp, on = 'TUCASEID', how ='outer')
merged_inner.head()

         TUCASEID     TUFINLWGT  TRYHHCHILD  ...  EUWGT  EUWIC  EXINCOME1
0  20160101160045  2.458865e+07          -1  ...  165.0   -1.0        0.0
1  20160101160066  5.445941e+06          -1  ...  300.0   -1.0        0.0
2  20160101160069  8.782622e+06           0  ...  143.0    2.0        0.0
3  20160101160083  3.035910e+06           8  ...   98.0    2.0        0.0
4  20160101160084  6.978586e+06          -1  ...  173.0   -1.0        0.0

[5 rows x 459 columns]

Check wie viele leere Einträge wir für ERBMI haben

In [100]:
merged_inner['ERBMI'].isna().sum()

283

### *Alle Ungültige Werte (0,-1) durch Nan ersetzen*

Funktion zur Löschung der unglütigen Werte < 0

In [101]:
def unglueltige_Werte_loeschen(df,c):
    for x in df[c]:
        if x < 1: 
            df[c] = df[c].replace([x],np.NaN)

Funktionsparameter übergeben

In [102]:
unglueltige_Werte_loeschen(merged_inner, 'ERBMI')

#list(merged_inner['ERBMI'][::])

### *Spliten zwischen Mann und Frau in zwei neue Datenbanken*

In [103]:
merged_inner_male = merged_inner[merged_inner['TESEX'] == 1 ]
merged_inner_female = merged_inner[merged_inner['TESEX'] == 2]

Print Tabellen

In [104]:
[merged_inner_male, merged_inner_female]

[             TUCASEID     TUFINLWGT  TRYHHCHILD  ...  EUWGT  EUWIC  EXINCOME1
 1      20160101160066  5.445941e+06          -1  ...  300.0   -1.0        0.0
 8      20160101160139  9.112257e+06          -1  ...  215.0   -1.0        0.0
 10     20160101160546  3.165768e+06           1  ...  208.0    2.0        0.0
 16     20160101160573  9.150706e+06          16  ...  170.0    2.0       73.0
 17     20160101160574  1.299119e+06          13  ...  267.0    2.0        0.0
 ...               ...           ...         ...  ...    ...    ...        ...
 10482  20161212162015  2.775790e+06          -1  ...  158.0   -1.0        0.0
 10483  20161212162045  1.985660e+07          17  ...  168.0   -1.0       73.0
 10486  20161212162212  1.986985e+07          -1  ...  180.0   -1.0        0.0
 10489  20161212162357  4.899612e+06          -1  ...  174.0   -1.0        0.0
 10490  20161212162426  1.597792e+07          -1  ...  158.0   -1.0        0.0

 [4670 rows x 459 columns],
              TUCASEID     TUFINLWGT  TRYHHCHILD  ...  EUWGT  EUWIC  EXINCOME1
 0      20160101160045  2.458865e+07          -1  ...  165.0   -1.0        0.0
 2      20160101160069  8.782622e+06           0  ...  143.0    2.0        0.0
 3      20160101160083  3.035910e+06           8  ...   98.0    2.0        0.0
 4      20160101160084  6.978586e+06          -1  ...  173.0   -1.0        0.0
 5      20160101160094  5.191610e+06           4  ...  158.0    1.0        0.0
 ...               ...           ...         ...  ...    ...    ...        ...
 10485  20161212162091  7.209622e+06          -1  ...  115.0   -1.0        0.0
 10487  20161212162217  1.682211e+07          -1  ...   -2.0   -1.0        0.0
 10488  20161212162307  1.295883e+07          -1  ...  202.0   -1.0        0.0
 10491  20161212162456  6.280644e+06          -1  ...  270.0   -1.0        0.0
 10492  20161212162509  1.485405e+07          12  ...  150.0    2.0       73.0

 [5823 rows x 459 columns]]

### *Alle Prädiktionen die mit dem BMI oder Gewicht verbunden sind, wurden gelöscht.*

In [105]:
#merged_male.iloc[::]['ERBMI'] 
#merged_female.columns

In [106]:
merged_male.describe(include='all').T
merged_male['ERBMI'].isna().sum()
merged_male.isna().sum()

NameError: ignored

In [ ]:
merged_female.describe(include='all').T
merged_female['ERBMI'].isna().sum()
merged_male.isna().sum()

## **Visualisieren Sie die Ergebnisse**

In [ ]:
#fig = go.Figure()
#fig.add_trace(go.Histogram(x=df_mean[df_mean['Sex'] == 'male']['Age'], name='Male'))
#fig.add_trace(go.Histogram(x=df_mean[df_mean['Sex'] == 'female']['Age'], name='Female'))
#fig.update_traces(opacity=0.75, xbins=dict(start=10.0,end=70.0,size=5))
#fig.show()

fig = go.Figure()
fig.add_trace(go.Histogram(x=merged_inner[merged_inner['TESEX'] == 1] ['ERBMI'] , name='Male'))
fig.add_trace(go.Histogram(x=merged_inner[merged_inner['TESEX'] == 2] ['ERBMI'] , name='Female'))
fig.update_traces(opacity = 0.75, xbins=dict(start=0, end= 65, size=5 ))
fig.show()

In [ ]:
fig= go.Figure()
fig.add_trace(go.Histogram(x=merged_inner[merged_inner['TESEX'] == 1] ['TEAGE'] , name='Male'))
fig.add_trace(go.Histogram(x=merged_inner[merged_inner['TESEX'] == 2] ['TEAGE'] , name='Female'))
fig.update_traces(opacity = 0.75, xbins=dict(start=15, end= 65, size=5 ))
fig.show()

## **Bereinigen der Daten, indem ungültige Einträge entfernen oder mit geeigneten Werten füllen**

In [ ]:
def calc_data_stats(df, feature_name):
    return pd.DataFrame(dict(
        feature=feature_name,
        mean=df.mean(),
        median=df.median(),
        #mode=df.mode(numeric_only=True).T[0],
        mode=df.mode(),
        std=df.std(),
    ))
ERBMI_stats = calc_data_stats(merged_inner['ERBMI'],'ERBMI STATS' )
EUGHT_stats = calc_data_stats(merged_inner['EUHGT'],'EUHGT STATS')

In [ ]:
df_meanF= merged_female.copy()
mean_val_W=df_meanF['ERBMI'].mean()
df_meanF['ERBMI'].fillna(df_meanF['ERBMI'].mean(), inplace=True)
df_meanF['EUHGT'].fillna(df_meanF['EUHGT'].mean(), inplace= True)
df_meanF['ERBMI'].isna().sum()
df_meanF['EUHGT'].isna().sum()

In [ ]:
df_meanM = merged_male.copy()
mean_val_M=df_meanM['ERBMI'].mean()
mean_val_mHeight= df_meanM['EUHGT'].mean()
mean_val_wHeight= df_meanF['EUHGT'].mean()
df_meanM['ERBMI'].fillna(df_meanM['ERBMI'].mean(), inplace=True)
df_meanM['EUHGT'].fillna(df_meanM['EUHGT'].mean(), inplace=True)
df_meanM['ERBMI'].isna().sum()
df_meanM['EUHGT'].isna().sum()

In [ ]:
df_mean = merged_inner.copy()
df_mean
print(df_mean['ERBMI'].mean())
df_mean['ERBMI'].fillna(df_mean['ERBMI'].mean(), inplace=True)

In [ ]:
def Fill_Mean(df,ERBMI_val,c):
    for x in df[c]:
        if x < 1: 
            df[c] = df[c].replace([x],ERBMI_val)

In [ ]:
fig= go.Figure()
fig.add_trace(go.Histogram(x=merged_inner[merged_inner['TESEX'] == 1] ['ERBMI'] , name='Male'))
fig.add_trace(go.Histogram(x=merged_inner[merged_inner['TESEX'] == 2] ['ERBMI'] , name='Female'))
fig.update_traces(opacity = 0.75, xbins=dict(start=-5, end= 65, size=5 ))
fig.show()

In [ ]:
fig= go.Figure()
fig.add_trace(go.Histogram(x=df_meanM[df_meanM['TESEX'] == 1] ['ERBMI'] , name='Male'))
fig.add_trace(go.Histogram(x=df_meanF[df_meanF['TESEX'] == 2] ['ERBMI'] , name='Female'))
fig.update_traces(opacity = 0.75, xbins=dict(start=-5, end= 65, size=5 ))
fig.show()

In [ ]:
fig= go.Figure()
fig.add_trace(go.Histogram(x=df_mean[df_mean['TESEX'] == 1] ['ERBMI'] , name='Male'))
fig.add_trace(go.Histogram(x=df_mean[df_mean['TESEX'] == 2] ['ERBMI'] , name='Female'))
fig.update_traces(opacity = 0.75, xbins=dict(start=-5, end= 65, size=5 ))
fig.show()

## **Alle Prädiktionen die mit dem BMI oder Gewicht verbunden sind, wurden gelöscht.**

In [ ]:
merged_male = merged_inner_male.drop(columns=['ETWGT', 'EUWGT'] )
merged_female = merged_inner_female.drop(columns=['ETWGT', 'EUWGT'])

# **Prädiktion**

## Vergleichen

In [ ]:
#X = df_meanM[['EUEXFREQ',  'EUHGT', 'ERTPREAT']]
#y = df_meanM['ERBMI']

# fit a glm model
#reg = LinearRegression()
#reg.fit(X,y)

In [ ]:
#y_pred = reg.predict(X)
#residual = y - y_pred
#plt.scatter(y_pred,residual)

In [ ]:
#list(df_meanF['EUHGT'][::])

#df_meanM[]df_meanM[]'EUHGT']<0

## Ansatz