<h2 style="margin:.5em 0;">Einführung in Data Science</h2>
<h3 style="margin:.5em 0;">Fakultät Informatik &ndash; Hochschule Aalen</h3>
<h4 style="margin:.5em 0;">Autoren: Florian Merlau</h4>

# Bibliotheken importieren

In [12]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

# Datenbanken importieren

In [13]:
raw_ehresp = pd.read_csv('ehresp_2016s.dat')

raw_atusrost = pd.read_csv('atusrost_2016.dat')
raw_patussum = pd.read_csv('atussum_2016.dat')
raw_ehresp.head()

,TUCASEID,TULINENO,EEINCOME1,ERBMI,ERHHCH,ERINCOME,ERSPEMCH,ERTPREAT,ERTSEAT,ETHGT,...,EUMEAT,EUMILK,EUPRPMEL,EUSODA,EUSTORES,EUSTREASON,EUTHERM,EUWGT,EUWIC,EXINCOME1
0,20160101160045,1,2,26.6,3,3,5,40,0,0,...,1,2,1,2,2,4,2,165,-1,0
1,20160101160066,1,2,44.3,3,3,5,30,15,0,...,1,2,1,-1,1,2,2,300,-1,0
2,20160101160069,1,2,24.5,3,5,-1,75,0,0,...,1,2,1,-1,1,5,1,143,2,0
3,20160101160083,1,2,21.2,1,5,-1,165,0,0,...,1,2,1,2,1,1,2,98,2,0
4,20160101160084,1,1,29.7,3,1,3,30,27,0,...,2,2,3,2,1,1,-1,173,-1,0

In [14]:
raw_atusrost.head(20)

          TUCASEID  TULINENO  TEAGE  TERRP  TESEX  TXAGE  TXRRP  TXSEX
0   20160101160045         1     62     18      2      0      0      0
1   20160101160045         2     65     20      1      0      0      0
2   20160101160045         3     43     22      1      0      0      0
3   20160101160066         1     69     18      1      0      0      0
4   20160101160066         2     67     20      2      0      0      0
5   20160101160069         1     24     18      2      0      0      0
6   20160101160069         2     59     24      2      0      0      0
7   20160101160069         3      8     22      2      0      0      0
8   20160101160069         4      0     22      1      0      0      0
9   20160101160083         1     31     19      2      0      0      0
10  20160101160083         2     11     22      1      0      0      0
11  20160101160083         3      9     22      2      0      0      0
12  20160101160083         4      8     22      1      0      0      0
13  20160101160084         1     59     18      2      0      0      0
14  20160101160084         2     79     20      1      0      0      0
15  20160101160094         1     16     18      2      0      0      0
16  20160101160094         2     43     24      2      0      0      0
17  20160101160094         3     13     25      2      0      0      0
18  20160101160094         4     12     25      1      0      0      0
19  20160101160094         5      4     25      1      0      0      0

In [15]:
raw_patussum.head()

,TUCASEID,TUFINLWGT,TRYHHCHILD,TEAGE,TESEX,PEEDUCA,PTDTRACE,PEHSPNON,GTMETSTA,TELFS,...,t181501,t181599,t181601,t181801,t189999,t500101,t500103,t500105,t500106,t500107
0,20160101160045,2.458865e+07,-1,62,2,39,1,2,1,5,...,0,0,0,0,0,0,0,0,0,0
1,20160101160066,5.445941e+06,-1,69,1,37,2,2,2,5,...,0,0,0,0,0,0,0,0,0,0
2,20160101160069,8.782622e+06,0,24,2,39,2,2,1,5,...,0,0,0,0,0,60,0,0,0,0
3,20160101160083,3.035910e+06,8,31,2,40,1,2,2,1,...,0,0,0,0,0,0,0,0,0,0
4,20160101160084,6.978586e+06,-1,59,2,39,1,2,1,1,...,0,0,0,0,0,0,0,0,0,0

In [17]:
raw_ehresp.value_counts('ERBMI')

ERBMI
-1.0     512
 25.8    256
 26.6    242
 25.1    235
 27.4    161
        ...
 48.0      1
 48.7      1
 49.1      1
 49.8      1
 61.8      1
Length: 359, dtype: int64

In [21]:
raw_ehresp.drop(columns=['EEINCOME1', 'ERINCOME', 'ERTSEAT', 'ERTSEAT'])

,TUCASEID,TULINENO,ERBMI,ERHHCH,ERSPEMCH,ERTPREAT,ETHGT,ETWGT,EUDIETSODA,EUDRINK,...,EUMEAT,EUMILK,EUPRPMEL,EUSODA,EUSTORES,EUSTREASON,EUTHERM,EUWGT,EUWIC,EXINCOME1
0,20160101160045,1,26.6,3,5,40,0,0,-1,1,...,1,2,1,2,2,4,2,165,-1,0
1,20160101160066,1,44.3,3,5,30,0,0,-1,2,...,1,2,1,-1,1,2,2,300,-1,0
2,20160101160069,1,24.5,3,-1,75,0,0,-1,2,...,1,2,1,-1,1,5,1,143,2,0
3,20160101160083,1,21.2,1,-1,165,0,2,-1,1,...,1,2,1,2,1,1,2,98,2,0
4,20160101160084,1,29.7,3,3,30,0,0,-1,1,...,2,2,3,2,1,1,-1,173,-1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10205,20161212162307,1,33.6,3,5,35,0,0,-1,1,...,1,2,1,2,2,1,2,202,-1,0
10206,20161212162357,1,26.5,3,-1,50,0,0,1,1,...,1,2,1,1,3,1,2,174,-1,0
10207,20161212162426,1,27.1,3,-1,135,0,0,-1,1,...,1,2,1,2,2,2,2,158,-1,0
10208,20161212162456,1,44.9,3,-1,20,0,0,-1,1,...,1,2,1,2,-1,-1,2,270,-1,0
10209,20161212162509,1,22.8,3,-1,40,0,0,-1,2,...,-1,-1,2,-1,-1,-1,-1,150,2,73

In [22]:
raw_ehresp.columns.values

array(['TUCASEID', 'TULINENO', 'EEINCOME1', 'ERBMI', 'ERHHCH', 'ERINCOME',
       'ERSPEMCH', 'ERTPREAT', 'ERTSEAT', 'ETHGT', 'ETWGT', 'EUDIETSODA',
       'EUDRINK', 'EUEAT', 'EUEXERCISE', 'EUEXFREQ', 'EUFASTFD',
       'EUFASTFDFRQ', 'EUFFYDAY', 'EUFDSIT', 'EUFINLWGT', 'EUSNAP',
       'EUGENHTH', 'EUGROSHP', 'EUHGT', 'EUINCLVL', 'EUINCOME2', 'EUMEAT',
       'EUMILK', 'EUPRPMEL', 'EUSODA', 'EUSTORES', 'EUSTREASON',
       'EUTHERM', 'EUWGT', 'EUWIC', 'EXINCOME1'], dtype=object)

In [23]:
raw_ehresp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10210 entries, 0 to 10209
Data columns (total 37 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   TUCASEID     10210 non-null  int64
 1   TULINENO     10210 non-null  int64
 2   EEINCOME1    10210 non-null  int64
 3   ERBMI        10210 non-null  float64
 4   ERHHCH       10210 non-null  int64
 5   ERINCOME     10210 non-null  int64
 6   ERSPEMCH     10210 non-null  int64
 7   ERTPREAT     10210 non-null  int64
 8   ERTSEAT      10210 non-null  int64
 9   ETHGT        10210 non-null  int64
 10  ETWGT        10210 non-null  int64
 11  EUDIETSODA   10210 non-null  int64
 12  EUDRINK      10210 non-null  int64
 13  EUEAT        10210 non-null  int64
 14  EUEXERCISE   10210 non-null  int64
 15  EUEXFREQ     10210 non-null  int64
 16  EUFASTFD     10210 non-null  int64
 17  EUFASTFDFRQ  10210 non-null  int64
 18  EUFFYDAY     10210 non-null  int64
 19  EUFDSIT      10210 non-null  int64
 20  EUFINLWGT    10210 non-null  float64
 21  EUSNAP       10210 non-null  int64
 22  EUGENHTH     10210 non-null  int64
 23  EUGROSHP     10210 non-null  int64
 24  EUHGT        10210 non-null  int64
 25  EUINCLVL     10210 non-null  int64
 26  EUINCOME2    10210 non-null  int64
 27  EUMEAT       10210 non-null  int64
 28  EUMILK       10210 non-null  int64
 29  EUPRPMEL     10210 non-null  int64
 30  EUSODA       10210 non-null  int64
 31  EUSTORES     10210 non-null  int64
 32  EUSTREASON   10210 non-null  int64
 33  EUTHERM      10210 non-null  int64
 34  EUWGT        10210 non-null  int64
 35  EUWIC        10210 non-null  int64
 36  EXINCOME1    10210 non-null  int64
dtypes: float64(2), int64(35)
memory usage: 2.9 MB

In [36]:
show_BMI = 'ERBMI'
ycycycsacac
c_miss = raw_ehresp.copy().set_index(['EUDRINK', 'EUGENHTH' ])[show_BMI]

c_miss = c_miss.unstack(level=0)
c_missrdgdrd

ValueError: Index contains duplicate entries, cannot reshape